/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

html {
    overflow-y: hidden;
    scroll-behavior: smooth;
}


/* MAIN */
.full-page {
    height: 100vh;
    position: relative;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;

    translate: -50% -50%;
}

h1 {
    font-size: 4rem;
}

.red {
    background-color: rgb(255,2,0);
    color: yellow;
}

.green {
    background-color: rgb(1,128,0);
    color: yellow;
}

.yellow {
    background-color: rgb(254,255,1);
    color: green;
}

/* SIIDE MENU */

.side-menu {
    position: fixed;
    top: 50px;
    right: 25px;
}

ul {
    list-style-type: none;
    flex-direction: row;
    gap: 50px;
}

a {
    text-decoration: none;
}

.side-menu a {
    color: black;
    background-color: white;
    font-size: 18px;
    display: inline-block;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    border: 0.5px solid;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}

.side-menu a:hover {
    scale: 1.1;
}

.side-menu a:active {
    scale: 1;
}
